---
title: Home
layout: tataletak.njk
---
<html>
<head>
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>
    <div class="dark-mode">
        <div class="text">
            <h4>PEMROGRAMAN WEB LANJUT</h4>
            <h2>RESPONSIVE WEB DESIGN</h2>
            <h3>PRAKTIKUM</h3>
        </div>
    </div>
    <script src="/assets/js/dark-mode.js"></script>
</body>
</html>
