---
title: profile
layout: tataletak.njk
---
<html>
<head>
    <script src="/assets/js/jquery.min.js"></script>
</head>
<body>
        <div class="dark-mode">
            <title>profile</title>
            <div class="single-box">
            <div class="header-area img1"></div>
            <div class="body-area">
                <h3>Agustino Rahmawan</h3>
                <h4>14116029</h4>
                <h5>08 Agustus 1998</h5>
            </div>
        </div>
    <script src="/assets/js/dark-mode.js"></script>
</body>
</html>