body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-attachment: fixed;
    background-position: center;
}
.dark-mode{
    width: 100%;
    height: 100%;
    background: var(--main-bg-color);
}
.light {
    --main-bg-color: #eeeeee;
    --main-tx-color: #000;
}
  
.dark {
    --main-bg-color: #000;
    --main-tx-color: #eeeeee;
}
.text{
    text-align: center;
}
.text h4{
    font-size: 20px;
    padding-top: 200px;
    font-family: sans-serif;
    color: var(--main-tx-color);
}
.text h2{
    font-size: 62px;
    font-family: sans-serif;
    font-weight: 700px;
    margin: 12px 0px;
    color: var(--main-tx-color);
}
.text h3{
    font-size: 18px;
    font-family: sans-serif;
    color: var(--main-tx-color);
}
h1{
    text-align: center;
    padding: 20px;
    color: var(--main-tx-color);
    font-family: sans-serif;
    margin: 50px;
}
.gallery{
    margin: 12px 12px;
    margin-top: -50px;
}
.gallery img{
    width: 300px;
    padding: 10px 10px;
    filter: grayscale(100%);
    transition: 0.5s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    background: #262626;
}
header .logo{
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}
header nav ul li a:hover,
header nav ul li a.active
{
    color: #ffffff;
    background: #2196f3;
}
.menu-toggle{
    color: #ffffff;
    float: right;
    line-height: 50px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
@media screen and (min-width: 200px) and (max-width: 768px)
{
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        height: auto;
        background: #333333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}
section .single-box{
    margin-left: 40%;
    margin-top: 50px;
    word-break: break-word;
    background: var(--main-bg-color);
}
.single-box{
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-self: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
    border-radius: 10px;
    z-index: 1;
    text-align: center;
}
.header-area.img1{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/rentalmobil-c43d4.appspot.com/o/Agustino.jpg?alt=media&token=0fd8d209-a45d-4375-904e-05f14803db5d");
}
.header-area{
    border-radius: 10px 10px 50% 0;
    padding: 125px 40px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.body-area{
    font-family: sans-serif;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    color: var(--main-tx-color);
}